.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h2 {
    color: purple;
}

.card-con {
    display: flex;
    gap: 20px;
}

.product-card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product-card .title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(74, 122, 245);
    text-decoration:none;
}

.product-card:hover{
    transform: translateX(4px) translateY(-4px);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
}