.login-button{
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;   
  padding: 8px 16px;
  text-transform: capitalize;
  color:purple;
  border:none;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
}

.login-button:hover{
    transform: scale(1.1) translateY(2px);
    color: white;
    background-color: purple;
}