.btn{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border:none;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: purple;
    color:white;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    background-color: white;
    color:purple;
}